body {
    font-family: Arial;
    background-color: #9e0e0e;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
}

.float {
  
       position: sticky;
    top: 0%;
    background-color: #290202;
    width: 100%;
      padding: 10px 0;
    z-index: 15;
}


.float ul{
    display: table;
    width: 100%;
    margin: 0%;
    padding: 0%;
    table-layout: fixed;;
}

.float li{
    display: table-cell;
    text-align: center;
}

.float a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Pillar_Font', Impact, 'Arial Black', sans-serif;
    font-size: 18px;
}
